<ul>
  {{#each @books.lastSuccessful.value as |book| }}
    <li data-test-id={{book.id}}>{{book.name}}</li>
  {{else}}
    {{#if @books.isRunning}}
      <div class="loading"></div>
    {{else if @books.lastErrored}}
      <div class="error"></div>
    {{else}}
      <li>Nothing to see here</li>
    {{/if}}
  {{/each}}
</ul>